---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const books = await getCollection('books')
  return books.map(book => ({
      params: { id: book.slug },
      props: { book }
    })
  )
}

const { book } = Astro.props
const { data, slug } = book
const { title, url, author } = data
console.log(book)

const { Content } = await render(book)
---

<Layout>
  <div class="container">
    <a href="../../">
      <h3>Machine Learning Papers</h3>
    </a>
    <h1 transition:name={`title-${slug}`}>{title}</h1>
    <code>{author}</code>
    <a href={url} rel="noopener noreferrer">
      <button class="btn">
        <span>Leer paper completo</span>
      </button>
    </a>
    <code class="resume">Resumen</code>
    <div class="content">
      <Content class="content"/>
    </div>
  </div>
</Layout>

<style>
  * {
    box-sizing: border-box;
  }
  html {
		scroll-behavior: smooth;
		font-size: 62.5%;
	}
  body {
    background-color: #d9d9d9;
    color: #373737;
  }
  .btn{
    margin-top: 32px;
    font-size: 1.6rem;
    background-color: #373737;
    color: #d9d9d9;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .btn:hover{
    background-color: #d9d9d9;
    color: #373737;
    border: 2px solid black;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in-out;
  }
  h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 12px 0;
  }
  h2 {
    margin: 50px 0 0 0;
    padding: 0;
  }
  h3{
    font-family: "UnifrakturMaguntia", cursive;
    color: #373737;
    font-size: 1.8rem;
  }
  a{
    text-decoration: none;
  }
  .container{
    padding: 2%;
  }
  .content {
    border: 2px solid #6a6a6a;
    border-radius: 4px;
    padding: 2% 3%;
    font-size: 1.8rem;
  }
  code{
    font-size: 1.4rem;
    color: #6a6a6a;
    display: block;
  }
  .resume{
    margin-top: 32px;
    padding-left: 8px;
  }

</style>